# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
web/app/cache
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Theme & Plugin Whitelist
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/advanced-custom-fields-font-awesome
!web/app/plugins/dues-api
!web/app/plugins/flashback
!web/app/plugins/gravityforms
!web/app/plugins/oa-tools
!web/app/plugins/wp-all-import-pro
!web/app/plugins/wpai-woocommerce-add-on
!web/app/plugins/wp-all-export-pro
!web/app/plugins/woocommerce-box-office
!web/app/plugins/woocommerce-subscriptions
!web/app/plugins/cuboree-registration
!web/app/plugins/tahosa-event-registration
!web/app/plugins/wp-migrate-db-pro
!web/app/plugins/wp-migrate-db-pro-media-files
!web/app/themes/Extra
!web/app/themes/tahosa2016

# Misc
*.log
.DS_Store
